.component {
    display: flex;
    justify-content: space-between;
    height: var(--toolbarHeight);
    position: absolute;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 4px rgb(194, 194, 194);
    z-index: 2;
    background-color: white;
    padding: 0px 10px;

    &>div>* {
        margin-right: 8px;
    }
}

.leftTolls {
    display: flex;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 3px;
    cursor: pointer;
    border: 1px solid transparent;
}

.activeButton {
    border-color: black;
}

.inputColor {
    cursor: pointer;
}